@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #FFF;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background:#f8f9fc;;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

/* Applique à tout ce qui déborde */
.scrollable-content {
	overflow-y: auto;
	max-height: 80vh; /* ou selon ton besoin */
  }
  
  /* Style du scroll */
  .scrollable-content::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Fond de la scrollbar */
  .scrollable-content::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 10px;
  }
  
  /* Curseur de la scrollbar */
  .scrollable-content::-webkit-scrollbar-thumb {
	background-color: #00a7d0;
	border-radius: 10px;
	border: 2px solid #f0f0f0;
  }
  
  /* Hover sur le curseur */
  .scrollable-content::-webkit-scrollbar-thumb:hover {
	background-color: #007e9a;
  }
  





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 270px;
	height: 100%;
	border-right: 2px solid #F1F1F1;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
#sidebar .logo img{
	width: 120px;
	height: 120px;
}
#sidebar .brand .bx {
	min-width: 60px;
	
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 15px;
}
#sidebar .side-menu li {
	height: 39px;
	background: transparent;
	margin-left: 6px;
	
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: #6c63ff;
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu li span{
	color: #555;
	font-size: 14px;
	font-weight: 600;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar .side-menu li .text1{
	margin-top:40px;
	color: #AAAAAA;
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	color: #555;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
	
}
#sidebar.hide ~ #content {
	width: calc(100% - 50px);
	left: 50px;
}


/* MAIN */
#content main {
	width: 100%;
	padding: 0px 24px;
	font-family: var(--poppins);
	background: #fff;
	overflow-y: auto;
	animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
